*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: dodgerblue;
    text-aign: center;
    padding-top: 200px;
    font-size: 9vw;
    color: #fff;
}